.claude/
.idea/
.settings/
generated/
target/

.classpath
.project
application-private.properties
zz

*.p12

# Local Grafana testing
lgtm-container/
.lgtm-env
run-lgtm.sh
.vscode/settings.json
phoss-ap-webapp/src/main/resources/ap2026testg3.jks
phoss-ap-webapp/src/main/resources/application.properties
